{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "chrome": true,
    "componentHandler": true
  },
  "rules": {
    "eqeqeq": "error"
  }
}
