body {
  height: 600px;
}

h1 {
  font-size: 36px;
  margin: 15 0;
}

#features-list {
  height: 145px;
  overflow: auto;
}

#list-element-template {
  display: none;
}

.mdl-base__container {
  width: 400px;
}

/**
 * Footer
 */
.mdl-mini-footer {
  padding: 16px;
}

.mdl-mini-footer .mdl-logo {
  line-height: 28px;
}

.mdl-mini-footer--social-btn, .mdl-mini-footer__social-btn {
  cursor: pointer;
}